<p id="notice"><%= notice %></p>
<html>
<body>

<div class="jumbotron">
	<div class="container">
		<h1 style="text-align:center;">Welcome to my website!</h1>
		<p style="text-align:center;">This is my CS3300 portfolio project using Ruby on Rails</p>
	</div>
</div>

</body>
</html>

<div class="container">
<h1 style="text-align:center;">Projects</h1>
<hr>
<br>
 <div class="row">
  <% @projects.each do |project| %>
    
    <div class="col-md-4">
      <center>
        <h2 style="text-align:center;"><%= project.title %></h2>
        <p style="text-align:center;"><%= project.description %></p>
        <a class="btn btn-secondary"  <%= link_to 'Show', project %></a>
        <a class="btn btn-secondary" <%= link_to 'Edit', edit_project_path(project) %></a>
        <a class="btn btn-secondary" <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> </a> 
        </center>
      </div>
    <% end %>
  <div>
  

<br>


<hr>
<p>Nicholas Hay | (719)325-6812 |  nlhay73.nh@outlook.com</p>






